.sidebar {
  position: fixed;
  top: 0;
  left: -250px; /* Начальная позиция за пределами экрана */
  width: 250px;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(12px);
  background-image: linear-gradient(
  120deg,
  rgba(127, 127, 127, 0.2), /* Было 0.3 */
  rgba(0, 0, 0, 0.1)        /* Было 0.2 */
);
  background-size: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: left 0.3s ease;
  
  z-index: 9999999;
  
  
}

.sidebarOpen {
  left: 0;
}
.sidebarButtonContainer{
  margin-top: 40px;
  
}
.sidebarButton {
  font-family: var(--font-family-cases);
  font-size: 1rem;
  width: 200px;
  height: 50px;
  margin-bottom: 10px;
  padding: 10px 20px;
  background-color: rgb(3, 97, 190);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sidebarButton:hover {
  background-color: #3700b3;
}
.closeIcon{
  width: 40px;
  border-radius: 6px;
  margin-left: 180px;
  margin-top: -10px;
  transition: background-color 0.3s ease;
}
.closeIcon:hover{
  background-color: rgba(255, 255, 255, 0.486);
}